body {
	background-color: gray;
}

nav {
	background-color: gray;
}

.gameboard {
	display: block;
	margin-top: 50px;
	background-color: #fff;
	height: 200px;
	padding: 10px;
	border: 10px solid hotpink;
}

#wordspace {
	padding-top: 40px;
	color: green;
	letter-spacing: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

#guesses {
	display: block;
	margin-top: 10px;
	background-color: #fff;
	height: 50px;
	width: 20%;
	padding: 10px;
	border: 5px solid hotpink;
	color: green;
	letter-spacing: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}