body {
	background-color: darkblue;
	background-image: url("../../Assets/images/kitten.png");
	background-position: 100% 100%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*.container {
	background-image: url("../../Assets/images/radio.jpg");
}*/

h1 {
	text-align: center;
	color: hotpink;
	font-family: 'Cabin Sketch', cursive;
	margin: 3% 1%;
}

p {
	font-family: 'Cabin Sketch', cursive;
}

a:link {
	color: gray;
	text-decoration: none;
	}
a:visited {
	color: gray;
	text-decoration: none;
	}
a:hover {
	color: hotpink;
	text-decoration: none;
	}

.gameboard {
	display: block;
	margin-top: 50px;
	background-color: #fff;
	height: 200px;
	padding: 10px;
	border: 10px solid hotpink;
}

/* .container {
	margin: 1%;
} */

#wordspace {
	padding-top: 40px;
	color: green;
	letter-spacing: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
}

.col-lg-3 {
	width: 20%
}

#chances {
	display: block;
	margin-top: 10px;
	background-color: #fff;
	height: auto;
	padding: 10px;
	border: 5px solid hotpink;
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}

#winsbox, .previous {
	display: block;
	margin-top: 10px;
	background-color: #fff;
	height: auto;
	padding: 10px;
	border: 5px solid hotpink;
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}

.guesses-box {
	float: right;
	display: block;
	margin-top: 10px;
	background-color: #fff;
	height: auto;
	width: 75%;
	padding: 10px;
	border: 5px solid hotpink;
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
}